{% extends 'layout.html' %}

{% block content %}
<div class="row">
  <div class="col-xs-3">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Admin</h3>
      </div>
      <div class="list-group">
        {% for m in modules %}
        <a class="list-group-item{% if model == m %} active{% endif %}"
           href="{{ get_list_url(m) }}">{{ m|capitalize }}</a>
        {% endfor %}
      </div>
    </div>
  </div>

  <div class="col-xs-9">
    {% block innercontent %}
    {% endblock %}
  </div>
</div>
{% endblock %}
