{% extends 'admin/layout.html' %}

{% block innercontent %}
<h2>List {{ model }} items</h2>

<table class="table">
  {% for obj in object_list %}
  <tr>
    <td>{{ obj.name }}</td>
    <td>
      {% set url = get_edit_url(model, obj.id) %}
      <a href="{{ url }}" class="btn btn-xs btn-default">
        <span class="glyphicon glyphicon-edit"></span> edit
      </a>

      {% set url = get_delete_url(model, obj.id) %}
      <a href="{{ url }}" class="btn btn-xs btn-danger">
        <span class="glyphicon glyphicon-remove"></span> remove
      </a>
    </td>
  </tr>
  {% endfor %}
</table>

<div class="btn-group">
  <a class="btn btn-xs btn-primary" href="{{ get_add_url(model) }}">
    <span class="glyphicon glyphicon-plus"></span> add {{ model }}
  </a>
</div>
{% endblock %}
