{% macro render_field(field) %}
  <dt>{{ field.label }}
  <dd>{{ field(**kwargs)|safe }}
  {% if field.errors %}
    <ul class=errors>
    {% for error in field.errors %}
      <li>{{ error }}</li>
    {% endfor %}
    </ul>
  {% endif %}
  </dd>
{% endmacro %}

{% macro category_type(c) %}
{% if c.income %}
  <span class="label label-success"><span class="glyphicon glyphicon-plus"></span></span>
{% endif %}
{% if c.outcome %}
  <span class="label label-danger"><span class="glyphicon glyphicon-minus"></span></span>
{% endif %}
{% endmacro %}

{% macro graph(title, data) %}
<div class="chart" style="width: 100%; height: 400px;"
    data-data="{{ data }}" data-title="{{ title }}"
    ></div>
{% endmacro %}

{% macro graph_double(title, data, data2) %}
<div class="chart" style="width: 100%; height: 400px;"
    data-data="{{ data }}" data-data2="{{ data2 }}" data-title="{{ title }}"></div>
{% endmacro %}
