{% extends 'layout.html' %}

{% from '_bits.html' import graph %}

{% block content %}
    {% if wallet %}
    <h2>{{ wallet.name }} <small>{{ 'active' if wallet.active else 'inactive' }}</small></h2>
    <a href="{{ url_for('.wallet', wallet=wallet.id) }}">Transactions</a>
    <a href="{{ url_for('.wallet_graphs', wallet=wallet.id) }}">Graphs</a>
    {% endif %}

    <div>
      <div class="col-xs-6">
        {{ graph('Income', income_data) }}
      </div>
      <div class="col-xs-6">
        {{ graph('Outcome', outcome_data) }}
      </div>
    </div>


{% endblock %}

{% block scripts %}
<script type="text/javascript">
 $('.chart').each(function () {
    var data = [], row;
    var raw_data = $(this).data('data');
    var parts = raw_data.split(",");
    for(var i in parts) {
      row = parts[i].split(":");
      data.push([row[0], parseFloat(row[1])]);
    }
    $(this).highcharts({
      title: {
        text: $(this).data('title')
      },
      series: [{
        type: 'pie',
        data: data
      }]
    });
});
</script>
{% endblock %}
