<!DOCTYPE html>
<html>
<head>
  <title>CashMan</title>
  <link rel="stylesheet" type="text/css"
        href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" />
</head>
<body>
  <div class="container">
    <div class="page-header">
      <h1>CashMan <small>a simple cash manager</small></h1>
    </div>

    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
      <ul class=flashes>
        {% for category, message in messages %}
        <li class="text-{{ category }}">{{ message }}</li>
        {% endfor %}
      </ul>
      {% endif %}
    {% endwith %}

    {% block content %}

    {% endblock %}

    <div>
      <hr/>
      <a href="{{ url_for('views.wallets') }}">Wallets</a>

      <a href="{{ url_for('views.transactions') }}">Transactions</a>
      <a href="{{ url_for('views.graphs') }}">Graphs</a>

      <a href="{{ url_for('views.add') }}">Add</a> |
      <a href="{{ url_for('admin.home') }}">Admin</a>
    </div>
  </div>

  <script src="http://code.jquery.com/jquery-2.0.3.min.js"></script>
  <script type="text/javascript"
          src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
  <script type="text/javascript"
          src="//cdnjs.cloudflare.com/ajax/libs/highcharts/4.0.1/highcharts.js"></script>
  {% block scripts %}
  {% endblock %}
</body>
</html>
