<!DOCTYPE html>
<html>
<head>
  <title>CashMan</title>
  <link rel="stylesheet" type="text/css"
        href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" />
</head>
<body>
  <div class="container">
    <div class="page-header">
      <h1>CashMan <small>a simple cash manager</small></h1>
    </div>

    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
      <ul class=flashes>
        {% for category, message in messages %}
        <li class="text-{{ category }}">{{ message }}</li>
        {% endfor %}
      </ul>
      {% endif %}
    {% endwith %}

    {% if start or end %}
    <div class="pull-right">
      <div class="btn-group">
          <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
            {% if start %}{{ start.strftime('%Y/%m/%d') }}{% endif %}
            -
            {% if end %}{{ end.strftime('%Y/%m/%d') }}{% endif %}
            <span class="caret"></span>
          </button>

          <div class="dropdown-menu pull-right" style="padding: 16px; width: 290px">
            <div>
              <form class="form-inline" role="form">
                <div class="form-group">
                  <input type="date" name="start"
                         value="{{ start.strftime('%Y-%m-%d') }}"
                         class="form-control"  style="width: 100px" />
                </div>
                <div class="form-group">
                  <input type="date" name="end"
                         value="{{ end.strftime('%Y-%m-%d') }}"
                         class="form-control" style="width: 100px" />
                </div>
                <button type="submit" class="btn btn-default">Go</button>
              </form>
            </div>
          </div>
        </p>
      </div>
    </div>
    {% endif %}

    {% block content %}

    {% endblock %}

    <div>
      <hr/>
      <a href="{{ url_for('views.wallets') }}">Wallets</a>
      <a href="{{ url_for('views.categories') }}">Categories</a>

      <a href="{{ url_for('views.transactions') }}">Transactions</a>
      <a href="{{ url_for('views.graphs') }}">Graphs</a>
      <a href="{{ url_for('views.report') }}">Report</a>

      <a href="{{ url_for('views.add') }}">Add</a> |
      <a href="{{ url_for('admin.home') }}">Admin</a>
    </div>
  </div>

  <script src="http://code.jquery.com/jquery-2.0.3.min.js"></script>
  <script type="text/javascript"
          src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
  <script type="text/javascript"
          src="//cdnjs.cloudflare.com/ajax/libs/highcharts/4.0.1/highcharts.js"></script>
  <script type="text/javascript">
    $(function() {
      // Fix input element click problem
      $('.dropdown-menu input, .dropdown-menu label').click(function(e) {
        e.stopPropagation();
      });
    });
  </script>
  {% block scripts %}
  {% endblock %}
</body>
</html>
