{% extends 'layout.html' %}

{% from "_bits.html" import category_type %}

{% macro transaction(t, hide_wallet=false) %}
    <li>
      {{ t.date.strftime('%d/%m/%y') }}
      <span class="badge">{{ t.amount|round|int }}</span>
      {% if not hide_wallet %}
      <span class="label label-primary">{{ t.wallet.name }}</span>
      {% endif %}
      <span class="label label-default">{{ t.category.name }}</span>
      <span class="text-muted">{{ t.details or '-' }}</span>

      <a href="{{ url_for('views.edit', id=t.id) }}" class="btn btn-default btn-xs">change</a>
    </li>
{% endmacro %}

{% macro transactions(ts, total, hide_wallet) %}
<p>Total: {{ total|int }}</p>
<ul>
  {% for t in ts %}
    {{ transaction(t, hide_wallet) }}
  {% endfor %}
</ul>
{% endmacro %}

{% block content %}
    {% set hide_wallet = true if wallet else false %}
    {% if wallet %}
      <h2>{{ wallet.name }} <small>{{ 'active' if wallet.active else 'inactive' }}</small></h2>
      <a href="{{ url_for('.wallet', wallet=wallet.id) }}">Transactions</a>
      <a href="{{ url_for('.wallet_graphs', wallet=wallet.id) }}">Graphs</a>
    {% endif %}
    {% if category %}
      <h2>{{ category.name }} <small>{{ category_type(category) }}</small></h2>
    {% endif %}

    {% if ts_in.count() %}
    <h3>Income</h3>
    {{ transactions(ts_in, total_in, hide_wallet) }}
    {% endif %}

    {% if ts_out.count() %}
    <h3>Outcome</h3>
    {{ transactions(ts_out, total_out, hide_wallet) }}
    {% endif %}
{% endblock %}
